<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Database Data Insertion</title>
    </head>
    <body>
        <div class = 'home'>
            <h1>Database Data Insertion</h1>
            <form action="/operation" method = 'post'>
                <label for="databases1">Select a Database: </label>
                <select name = "databases2" id = "databases_id">
                    <option value="none">--Please choose an option--</option>
                    <option value = "MySQL">MySQL</option>
                    <option value = "MongoDB">MongoDB</option>
                </select>
                <br>
                <br>
                <input type = 'submit' value = 'Submit'>
            </form>
        </div>
    </body>
</html>
