<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MySQL Data Insertion</title>
    </head>
    <body>
        <form action="/insert" method="post">
            <fieldset>
                <legend>Enter the values:</legend>
                <div>
                    <label for="ID">ID:</label>
                    <input type="text" id="ID" name="ID" required="required">
                </div>
                <div>
                    <label for="First Name">First Name:</label>
                    <input type="text" id="First Name" name="First Name" required="required">
                </div>
                <div>
                    <label for="Last Name">Last Name:</label>
                    <input type="text" id="Last Name" name="Last Name" required="required">
                </div>
                <div>
                    <label for="Department">Department:</label>
                    <input type="text" id="Department" name="Department" required="required">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
            </fieldset>
        </form>
    </body>
</html>
